<div class="container">
	<h1 class="page-header">DiarsLice</h1>

	<div id="num_players_panel" class="row">
		<div class="col-md-offset-4 col-md-4">
			<h2 class="text-center">Number of players:</h2>
			<p class="text-center"><input id="num_players_input" class="form-control" type="text" /></p>
			<p class="text-center"><button id="num_players_btn" class="btn btn-block">Enter</button></p>
		</div>
	</div>


	<div id="game_panel" class="row">
	</div>
</div>
